@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Ẩn thanh cuộn cho Chrome, Safari và Opera */
  *::-webkit-scrollbar {
    display: none;
  }
  
  /* Đảm bảo vẫn giữ được chức năng cuộn mượt */
  * {
    -webkit-overflow-scrolling: touch; /* Cho iOS */
  }

  @keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
  }
  @keyframes drawLine {
    0% { width: 0; }
    100% { width: 100%; }
  }
  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  @keyframes checkBounce {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
  }
  
  .Toastify__toast--success {
    background: #1f2937 !important;
  }
  .Toastify__toast--error {
    background: #e54646 !important;
  }